<img src="../assets/error1.jpg" alt="" class="image"><br>
<div class="text-center">
  <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Start
  </button>
</div>


<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" width="1000px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error Detection & Correction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        
        <input type="text" placeholder="Enter 4 digit binary number"  [(ngModel)]="dataBits"  class="height"> 
        <button (click)="getHammingCode()" class="ms-2 btn btn-success">Get Hamming Code</button>
        <h4>{{hamCode}}</h4><br>


        <div *ngIf="canCheck">
          <input type="text" placeholder="Enter 7 digit binary number"  [(ngModel)]="checkBits" class="height"> 
          <button (click)="check()" class="ms-2 btn btn-success">check error</button>
          <h4 >{{checkMessage}}</h4>
        </div>


        <button *ngIf="position!=0" (click)="correct()" class="btn btn-success ms-6">Correct</button>
        <h4>{{correctedHamCode}}</h4>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







